body {
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.btn {
  box-shadow: 0 4px 6px rgba($blue-dark, 0.80),
  0 1px 3px rgba($blue-dark, 0.80);
}

.btn-secondary {
  color: #1340A4;
  font-weight: 900;
  letter-spacing: 0.03rem;
  padding-bottom: 10px;
  @include bg-grad($secondary, lighten($secondary, 15%), 0%, 100%, $deg: 0deg);

  &:hover {
    color: darken($primary, 10%);
  }
}

.btn-pulse {
  -webkit-animation-name: pulsing;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulsing;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

hr {
  border-width: 1px;
  border-style: solid;
  border-color: rgba($white, 0.3);
  border-bottom: none;
}

.lead {
  font-size: 1.125rem;
}

.lead--lg {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.lead--xl {
  font-size: 1.125rem;

  @include media-breakpoint-up(md) {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

//
// Nav
// ==========================================================================
.nav,
.navbar-nav {
  .nav-item {
    .nav-link {
      color: $white;
      transition: color 400ms ease;

      &:hover {
        color: $secondary;
      }
    }
  }
}

hr {
  border-width: 1px;
  border-style: solid;
  border-color: $primary;
  border-bottom: none;
}

//
// Animation
// ==========================================================================
@keyframes floating {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pulsing {
  from {
    background-color: lighten($secondary, 10%);
    -webkit-box-shadow: 0 0 9px $blue-dark;
  }
  50% {
    background-color: $secondary;
    -webkit-box-shadow: 0 0 18px $secondary;
  }
  to {
    background-color: $secondary;
    -webkit-box-shadow: 0 0 9px $blue-dark;
  }
}
