<section class="hero pt-3">
  <div class="container">
    {{ partial "nav.html" . }}
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col text-white">
        <h1 class="mt-3 mb-3">Host your own <strong class="text-secondary">Helm Chart Repository</strong></h1>
        <p class="lead--xl">
          ChartMuseum is an open-source, easy to deploy,<br class="d-none d-lg-block">
          Helm Chart Repository server.
        </p>
        <a href="#Instructions" class="btn btn-secondary btn-lg btn-pulse mt-4">Get ChartMuseum <i class="fas fa-download fa-xs"></i></a>
      </div>
    </div>
    <div class="row mt-5 mt-lg-0">
      <div class="col">
        <img class="d-block mx-auto hero__img" src="img/chartmuseum-illustration.png" alt="ChartMuseum">
      </div>
    </div>
  </div>
</section>
