<nav class="navbar navbar-dark navbar-expand-lg mb-5">
  <a class="navbar-brand" href="./">{{ partial "svg/logo.html" }}</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item d-none d-lg-block mr-2"><a class="nav-link" href="#Instructions"><i class="fas fa-download mr-1"></i> Get ChartMuseum</a></li>
    <li class="nav-item mr-2"><a class="nav-link" href="{{ .Site.BaseURL }}/docs"><i class="fas fa-book mr-1"></i> Docs</a></li>
    <li class="nav-item"><a class="nav-link" target="_blank" href="{{ $.Site.Params.repo }}"><i class="fab fa-github mr-1"></i> GitHub</a></li>
  </ul>
</nav>
